/* {
  box-sizing: border-box;
  border: 1px dashed red;
}
*/

.container {
  background-color: black;
  box-sizing: border-box;
  text-align: center;
}

.flex-box-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* max-height: 80px; */
}
/*display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
}
.child--featured {
  flex-basis: content; */
img {
  max-width: 100%;
}
.aloha-logo {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  justify-content: flex-start;
  /* height: 168px; */
  /* max-width: 100px; */
  align-content: space-between;
  text-align: left;
  flex-basis: content;
  width: 50%;
}
.aloha-logo img {
  width: 100px;
}

.cart-icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  order: 2;
  justify-content: flex-end;
  /* height: 168px; */
  max-width: 450px;
  align-content: space-between;
  text-align: right;
  flex-basis: content;
  width: 50%;
}
.cart-icon img {
  width: 60px;
}

.flex-box-button {
  display: flex;
  flex-wrap: nowrap;
  order: 3;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  /* padding: 75px; */
  font-size: bold;
  color: firebrick;
  width: 100%;
}
.flex-box-button a {
  display: block;
  padding: 0.625rem;
}

.container {
  max-width: 100px;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "playfair display";
}

/* Content Control */

/* .site-banner {
    padding: 100px 0px;
    background-image: (flower-bkgd,jpg);
    background-size: contain;
} */

header,
article,
section,
footer {
  margin: 20px 0 20px 0px;
  padding: 20px;
  border: 1px solid black;
}
.site-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 49vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  background-size: cover, 150px 369px, cover;
  background-position: center, center 50px, center;
  background-repeat: no-repeat;
  margin: 0px;

  /* position: relative; */
}

.site-banner-title {
  display: flex;
  flex-flow: column;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  color: white;
  margin: 35px;
}
.site-banner-summer {
  display: flex;
  flex-flow: column;
  font-size: 55px;
  font-weight: 30px;
  margin: -3%;
  text-align: center;
  color: white;
}

.departments {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* align-content: stretch; */
  /* height: 400px; */
  /* width: 100px; */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vw;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.box1 {
  background-image: url("./images/mens-category.jpg");
  background-size: cover;
  width: 100%;
}

.box2 {
  background-image: url("./images/trends-category.jpg");
  background-size: cover;
}

.box3 {
  background-image: url("./images/glasses-category.jpg");
  background-size: cover;
}

.box4 {
  background-image: url("./images/sale-category.jpg");
  background-size: cover;
}

.box5 {
  background-image: url("./images/bags-category.jpg");
  background-size: cover;
}

.box6 {
  background-image: url("./images/womens-category.jpg");
  background-size: cover;
  width: 100%;
}

.sign-up {
  padding: 100px;
  height: 250px;
  background-image: url("images/wave-bkgd.jpg");
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: rgba(0, 0, 0, 0.15);
}

.site-banner-title span {
  font-size: 24px;
  display: block;
}

.site-footer {
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  background-color: black;
  color: white;
}

.social-links {
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

/*.main-carousel {
  display: block;
  height: 200%;
  width: 100%;
}
*/

.red-text {
  color: red;
  font-size: 20px;
}

.carousel-cell {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .carousel-cell {
    width: 50%;
  }

  .aloha-logo {
    order: 1;
    width: 15%;
  }

  .cart-icon {
    order: 3;
    width: 15%;
  }

  .flex-box-button {
    order: 2;
    width: 70%;
  }
  .box {
    width: 25%;
    height: 25vw;
  }

  .box1 {
    width: 50%;
  }

  .box6 {
    width: 50%;
  }
}

@media screen and (min-width: 1240px) {
  .carousel-cell {
    width: 25%;
  }
}
